<form class="create-form">
    <h2>Create New Post</h2>
        <div class="form-contents">
            <div>
                <label class="text" for="create-title">Title</label>
                <input type="text" id="create-title" name="create-title" />
            </div>
            <div>
                <label class="text" for="create-content">Content</label>
                <input type="text" id="create-content" name="create-content" />
            </div>
            <div>
                <button type="submit" id="create-post">Create Post</button>
            </div>
        </div>
</form>

{{#if posts.length}}
<div class="comment-section">
    <h3 class="your-posts">Your Posts:</h3>
        {{#each posts as |post|}}
        <section>
            <div class="blog-section">
                <div class="blog-header">
                    <h2>{{post.title}} by {{post.user.username}}</h2>
                </div>
                <p class="blog-text">
                    {{post.post_content}}
                </p>
                <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
            </div> 
        </section>
        {{/each}}
</div>
{{/if}}
<script src="/js/add-post.js"></script>