<form class="signup-form">
    <h2>Signup</h2>
        <div class="form-contents">
            <div>
                <label class="text" for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label class="text" for="email-signup">email:</label>
                <input type="text" id="email-signup" />
            </div>
            <div>
                <label class="text" for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit" id="signup">signup</button>
            </div>
            <div>
                <a href="/login" class="text" id="login-instead">login instead</a>
            </div>
        </div>
</form>
<script src="/js/signup.js"></script>